<div class="d-flex justify-content-center flex-wrap container-cards">
  <div class="card mx-3 my-3" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title">Mario Hernandez</h5>
      <p class="card-text">Edad: 20</p>
      <a class="btn btn-primary" routerLink="/grafica">Ver proceso</a>
    </div>
  </div>
  <div class="card mx-3 my-3" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title">Maria Montenegro</h5>
      <p class="card-text">Edad: 42</p>
      <a class="btn btn-primary" routerLink="/grafica2">Ver proceso</a>
    </div>
  </div>
  <div class="card mx-3 my-3" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title">José Perez</h5>
      <p class="card-text">Edad: 35</p>
      <a class="btn btn-primary" routerLink="/grafica3">Ver proceso</a>
    </div>
  </div>
</div>
